a {
	color:#000;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:12px;
	font-weight:bolder;
}
.heading_1 {
	font: Verdana, Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:bold;
	border-bottom-color:#06F;
}
.sub_heading {
	font: Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	border-bottom-color:#06F;
}
.spacer{
	clear:both;
	height:1px;
	}